// Default mixins and settings -----------------
@import 'template/mixins'
@import 'template/settings'
// ---------------------------------------------
@font-face {
	font-family: 'Carlito';
	font-style: normal;
	font-weight: 400;
	src: local('Carlito Regular'), local('Carlito-Regular'), url(../../fonts/Carlito-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Carlito';
	font-style: normal;
	font-weight: 700;
	src: local('Carlito Bold'), local('Carlito-Bold'), url(../../fonts/Carlito-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Carlito';
	font-style: italic;
	font-weight: 400;
	src: local('Carlito Italic'), local('Carlito-Italic'), url(../../fonts/Carlito-Italic.ttf) format('truetype');
}
@font-face {
	font-family: 'Carlito';
	font-style: italic;
	font-weight: 700;
	src: local('Carlito Bold Italic'), local('Carlito-BoldItalic'), url(../../fonts/Carlito-BoldItalic.ttf) format('truetype');
}
@font-face {
	font-family: 'News Cycle';
	font-style: normal;
	font-weight: 400;
	src: local('News Cycle'), local('NewsCycle'), url(../../fonts/NewsCycle-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'News Cycle';
	font-style: normal;
	font-weight: 700;
	src: local('News Cycle Bold'), local('NewsCycle Bold'), url(../../fonts/NewsCycle-Bold.ttf) format('truetype');
}

// Include theme-specific fonts
//@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700')
//@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic')


// Override theme settings (see ../template/settings.scss)
$mainFont = Carlito, 'Lato', sans-serif //Calibri
$mainColor = #3059bf
$headingFont = 'News Cycle', Impact, sans-serif // Calibri
$headingColor = #000
$headingTextShadow = none
$headingTextTransform = none
$backgroundColor = #fff
$linkColor = #ff0000
$linkColorHover = lighten( $linkColor, 20% )
$selectionBackgroundColor = rgba(0, 0, 0, 0.99)
/*Tableau de couleurs nav, slide et tout le tralala*/
$partColor = ( #73bf30 #8430bf #bf8230 #3071bf #bfb830 #bf3030 #30bf82 #bf3074 #3330bf #bf5b30 )



// Theme template ------------------------------
@import 'template/theme'
// ---------------------------------------------

.reveal .progress
	background rgba(0, 0, 0, 0.2)
	position fixed
	display none
	height 3px
	width 100%
	top 0
	left 0
	z-index 10

body
	bottom: 0;
	background: white

/*Boucle pour la couleur nav/slide*/
$loopMax = length($partColor) - 1
for num in (0..$loopMax)
	$thisPartColor = $partColor[num]
	nav > ul > li:nth-child({$loopMax}n + {num}) > a
		border-color $thisPartColor
		color darken($thisPartColor,40)
	nav > ul > li:nth-child({$loopMax}n + {num}) li
		background lighten($thisPartColor, 40)
	nav > ul > li:nth-child({$loopMax}n + {num}) li a
		border-color $thisPartColor
		color darken($thisPartColor,40)
	nav > ul > li:nth-child({$loopMax}n + {num}) li.present
		background linear-gradient(to right,lighten($thisPartColor,20), lighten($thisPartColor,40))
	ul > li.past
		background-color lighten($mainColor, 20)
	nav > ul > li:nth-child({$loopMax}n + {num}) li.past
		background lighten($thisPartColor, 20)
	nav > ul > li:nth-child({$loopMax}n + {num}).present
		backColor = rgba(red(lighten($mainColor, 40)),green(lighten($mainColor, 40)),blue(lighten($mainColor, 40)),0)
		//backColor2 = transparentify(lighten($mainColor, 40))
		background linear-gradient(to top,lighten($thisPartColor,20), backColor, backColor), linear-gradient(to right,lighten($mainColor,20), lighten($mainColor,40))

body nav > ul > li
	background-color lighten($mainColor, 40)
//nav > ul > li.present
//		background linear-gradient(to right,lighten($mainColor,20), lighten($mainColor,40))

.header
	background #333333
	color #ff6600
	widht 100%
	margin auto
	text-align center
	//top 0

.footer
	background #333333
	color white
	widht 100%
	margin auto
	text-align center

.reveal .slides
	color black
	img
		border none
body .etape0sur1
	background transparent !important;

.reveal section em
	font-size 14pt

.slide-background video
	object-fit cover
