@font-face {
	font-family: 'Carlito';
	font-style: normal;
	font-weight: 400;
	src: local('Carlito Regular'), local('Carlito-Regular'), url("../../fonts/Carlito-Regular.ttf") format('truetype');
}
@font-face {
	font-family: 'Carlito';
	font-style: normal;
	font-weight: 700;
	src: local('Carlito Bold'), local('Carlito-Bold'), url("../../fonts/Carlito-Bold.ttf") format('truetype');
}
@font-face {
	font-family: 'Carlito';
	font-style: italic;
	font-weight: 400;
	src: local('Carlito Italic'), local('Carlito-Italic'), url("../../fonts/Carlito-Italic.ttf") format('truetype');
}
@font-face {
	font-family: 'Carlito';
	font-style: italic;
	font-weight: 700;
	src: local('Carlito Bold Italic'), local('Carlito-BoldItalic'), url("../../fonts/Carlito-BoldItalic.ttf") format('truetype');
}
@font-face {
	font-family: 'News Cycle';
	font-style: normal;
	font-weight: 400;
	src: local('News Cycle'), local('NewsCycle'), url("../../fonts/NewsCycle-Regular.ttf") format('truetype');
}
@font-face {
	font-family: 'News Cycle';
	font-style: normal;
	font-weight: 700;
	src: local('News Cycle Bold'), local('NewsCycle Bold'), url("../../fonts/NewsCycle-Bold.ttf") format('truetype');
}
/*Tableau de couleurs nav, slide et tout le tralala*/
body {
	background: #fff;
	background-color: #fff;
}
.reveal {
	font-family: Carlito, 'Lato', sans-serif;
	font-size: 36px;
	font-weight: normal;
	color: #3059bf;
}
::selection {
	color: #fff;
	background: rgba(0,0,0,0.99);
	text-shadow: none;
}
.reveal .slides>section,
.reveal .slides>section>section {
	line-height: 1.3;
	font-weight: inherit;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	margin: 0 0 20px 0;
	color: #000;
	font-family: 'News Cycle', Impact, sans-serif;
	font-weight: normal;
	line-height: 1.2;
	letter-spacing: normal;
	text-transform: none;
	text-shadow: none;
	word-wrap: break-word;
}
.reveal h1 {
	font-size: 3.77em;
}
.reveal h2 {
	font-size: 2.11em;
}
.reveal h3 {
	font-size: 1.55em;
}
.reveal h4 {
	font-size: 1em;
}
.reveal h1 {
	text-shadow: none;
}
.reveal p {
	margin: 20px 0;
	line-height: 1.3;
}
.reveal img,
.reveal video,
.reveal iframe {
	max-width: 95%;
	max-height: 95%;
}
.reveal strong,
.reveal b {
	font-weight: bold;
}
.reveal em {
	font-style: italic;
}
.reveal ol,
.reveal dl,
.reveal ul {
	display: inline-block;
	text-align: left;
	margin: 0 0 0 1em;
}
.reveal ol {
	list-style-type: decimal;
}
.reveal ul {
	list-style-type: disc;
}
.reveal ul ul {
	list-style-type: square;
}
.reveal ul ul ul {
	list-style-type: circle;
}
.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
	display: block;
	margin-left: 40px;
}
.reveal dt {
	font-weight: bold;
}
.reveal dd {
	margin-left: 40px;
}
.reveal q,
.reveal blockquote {
	quotes: none;
}
.reveal blockquote {
	display: block;
	position: relative;
	width: 70%;
	margin: 20px auto;
	padding: 5px;
	font-style: italic;
	background: rgba(255,255,255,0.05);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}
.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
	display: inline-block;
}
.reveal q {
	font-style: italic;
}
.reveal pre {
	display: block;
	position: relative;
	width: 90%;
	margin: 20px auto;
	text-align: left;
	font-size: 0.55em;
	font-family: monospace;
	line-height: 1.2em;
	word-wrap: break-word;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}
.reveal code {
	font-family: monospace;
}
.reveal pre code {
	display: block;
	padding: 5px;
	overflow: auto;
	max-height: 400px;
	word-wrap: normal;
	background: #3f3f3f;
	color: #dcdcdc;
}
.reveal table {
	margin: auto;
	border-collapse: collapse;
	border-spacing: 0;
}
.reveal table th {
	font-weight: bold;
}
.reveal table th,
.reveal table td {
	text-align: left;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border-bottom: 1px solid;
}
.reveal table tr:last-child td {
	border-bottom: none;
}
.reveal sup {
	vertical-align: super;
}
.reveal sub {
	vertical-align: sub;
}
.reveal small {
	display: inline-block;
	font-size: 0.6em;
	line-height: 1.2em;
	vertical-align: top;
}
.reveal small * {
	vertical-align: top;
}
.reveal a {
	color: #f00;
	text-decoration: none;
	-webkit-transition: color 0.15s ease;
	-moz-transition: color 0.15s ease;
	transition: color 0.15s ease;
}
.reveal a:hover {
	color: #f33;
	text-shadow: none;
	border: none;
}
.reveal .roll span:after {
	color: #fff;
	background: #d90000;
}
.reveal section img {
	margin: 15px 0px;
	background: rgba(255,255,255,0.12);
	border: 4px solid #3059bf;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.reveal a img {
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;
}
.reveal a:hover img {
	background: rgba(255,255,255,0.2);
	border-color: #f00;
	box-shadow: 0 0 20px rgba(0,0,0,0.55);
}
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
	border-right-color: #f00;
}
.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
	border-left-color: #f00;
}
.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
	border-bottom-color: #f00;
}
.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
	border-top-color: #f00;
}
.reveal .controls div.navigate-left.enabled:hover {
	border-right-color: #f33;
}
.reveal .controls div.navigate-right.enabled:hover {
	border-left-color: #f33;
}
.reveal .controls div.navigate-up.enabled:hover {
	border-bottom-color: #f33;
}
.reveal .controls div.navigate-down.enabled:hover {
	border-top-color: #f33;
}
.reveal .progress {
	background: rgba(0,0,0,0.2);
}
.reveal .progress span {
	background: #f00;
	transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
.reveal .slide-number {
	color: #f00;
}
.reveal .progress {
	background: rgba(0,0,0,0.2);
	position: fixed;
	display: none;
	height: 3px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}
body {
	bottom: 0;
	background: #fff;
}
/*Boucle pour la couleur nav/slide*/
nav > ul > li:nth-child(9n + 0) > a {
	border-color: #73bf30;
	color: #111c07;
}
nav > ul > li:nth-child(9n + 0) li {
	background: #dcf2c9;
}
nav > ul > li:nth-child(9n + 0) li a {
	border-color: #73bf30;
	color: #111c07;
}
nav > ul > li:nth-child(9n + 0) li.present {
	background: linear-gradient(to right, #a7dd78, #dcf2c9);
}
ul > li.past {
	background-color: #7895dd;
}
nav > ul > li:nth-child(9n + 0) li.past {
	background: #a7dd78;
}
nav > ul > li:nth-child(9n + 0).present {
	background: linear-gradient(to top, #a7dd78, rgba(201,213,242,0), rgba(201,213,242,0)), linear-gradient(to right, #7895dd, #c9d5f2);
}
nav > ul > li:nth-child(9n + 1) > a {
	border-color: #8430bf;
	color: #13071c;
}
nav > ul > li:nth-child(9n + 1) li {
	background: #e1c9f2;
}
nav > ul > li:nth-child(9n + 1) li a {
	border-color: #8430bf;
	color: #13071c;
}
nav > ul > li:nth-child(9n + 1) li.present {
	background: linear-gradient(to right, #b378dd, #e1c9f2);
}
ul > li.past {
	background-color: #7895dd;
}
nav > ul > li:nth-child(9n + 1) li.past {
	background: #b378dd;
}
nav > ul > li:nth-child(9n + 1).present {
	background: linear-gradient(to top, #b378dd, rgba(201,213,242,0), rgba(201,213,242,0)), linear-gradient(to right, #7895dd, #c9d5f2);
}
nav > ul > li:nth-child(9n + 2) > a {
	border-color: #bf8230;
	color: #1c1307;
}
nav > ul > li:nth-child(9n + 2) li {
	background: #f2e0c9;
}
nav > ul > li:nth-child(9n + 2) li a {
	border-color: #bf8230;
	color: #1c1307;
}
nav > ul > li:nth-child(9n + 2) li.present {
	background: linear-gradient(to right, #ddb278, #f2e0c9);
}
ul > li.past {
	background-color: #7895dd;
}
nav > ul > li:nth-child(9n + 2) li.past {
	background: #ddb278;
}
nav > ul > li:nth-child(9n + 2).present {
	background: linear-gradient(to top, #ddb278, rgba(201,213,242,0), rgba(201,213,242,0)), linear-gradient(to right, #7895dd, #c9d5f2);
}
nav > ul > li:nth-child(9n + 3) > a {
	border-color: #3071bf;
	color: #07111c;
}
nav > ul > li:nth-child(9n + 3) li {
	background: #c9dcf2;
}
nav > ul > li:nth-child(9n + 3) li a {
	border-color: #3071bf;
	color: #07111c;
}
nav > ul > li:nth-child(9n + 3) li.present {
	background: linear-gradient(to right, #78a6dd, #c9dcf2);
}
ul > li.past {
	background-color: #7895dd;
}
nav > ul > li:nth-child(9n + 3) li.past {
	background: #78a6dd;
}
nav > ul > li:nth-child(9n + 3).present {
	background: linear-gradient(to top, #78a6dd, rgba(201,213,242,0), rgba(201,213,242,0)), linear-gradient(to right, #7895dd, #c9d5f2);
}
nav > ul > li:nth-child(9n + 4) > a {
	border-color: #bfb830;
	color: #1c1b07;
}
nav > ul > li:nth-child(9n + 4) li {
	background: #f2f0c9;
}
nav > ul > li:nth-child(9n + 4) li a {
	border-color: #bfb830;
	color: #1c1b07;
}
nav > ul > li:nth-child(9n + 4) li.present {
	background: linear-gradient(to right, #ddd878, #f2f0c9);
}
ul > li.past {
	background-color: #7895dd;
}
nav > ul > li:nth-child(9n + 4) li.past {
	background: #ddd878;
}
nav > ul > li:nth-child(9n + 4).present {
	background: linear-gradient(to top, #ddd878, rgba(201,213,242,0), rgba(201,213,242,0)), linear-gradient(to right, #7895dd, #c9d5f2);
}
nav > ul > li:nth-child(9n + 5) > a {
	border-color: #bf3030;
	color: #1c0707;
}
nav > ul > li:nth-child(9n + 5) li {
	background: #f2c9c9;
}
nav > ul > li:nth-child(9n + 5) li a {
	border-color: #bf3030;
	color: #1c0707;
}
nav > ul > li:nth-child(9n + 5) li.present {
	background: linear-gradient(to right, #dd7878, #f2c9c9);
}
ul > li.past {
	background-color: #7895dd;
}
nav > ul > li:nth-child(9n + 5) li.past {
	background: #dd7878;
}
nav > ul > li:nth-child(9n + 5).present {
	background: linear-gradient(to top, #dd7878, rgba(201,213,242,0), rgba(201,213,242,0)), linear-gradient(to right, #7895dd, #c9d5f2);
}
nav > ul > li:nth-child(9n + 6) > a {
	border-color: #30bf82;
	color: #071c13;
}
nav > ul > li:nth-child(9n + 6) li {
	background: #c9f2e0;
}
nav > ul > li:nth-child(9n + 6) li a {
	border-color: #30bf82;
	color: #071c13;
}
nav > ul > li:nth-child(9n + 6) li.present {
	background: linear-gradient(to right, #78ddb2, #c9f2e0);
}
ul > li.past {
	background-color: #7895dd;
}
nav > ul > li:nth-child(9n + 6) li.past {
	background: #78ddb2;
}
nav > ul > li:nth-child(9n + 6).present {
	background: linear-gradient(to top, #78ddb2, rgba(201,213,242,0), rgba(201,213,242,0)), linear-gradient(to right, #7895dd, #c9d5f2);
}
nav > ul > li:nth-child(9n + 7) > a {
	border-color: #bf3074;
	color: #1c0711;
}
nav > ul > li:nth-child(9n + 7) li {
	background: #f2c9dd;
}
nav > ul > li:nth-child(9n + 7) li a {
	border-color: #bf3074;
	color: #1c0711;
}
nav > ul > li:nth-child(9n + 7) li.present {
	background: linear-gradient(to right, #dd78a8, #f2c9dd);
}
ul > li.past {
	background-color: #7895dd;
}
nav > ul > li:nth-child(9n + 7) li.past {
	background: #dd78a8;
}
nav > ul > li:nth-child(9n + 7).present {
	background: linear-gradient(to top, #dd78a8, rgba(201,213,242,0), rgba(201,213,242,0)), linear-gradient(to right, #7895dd, #c9d5f2);
}
nav > ul > li:nth-child(9n + 8) > a {
	border-color: #3330bf;
	color: #07071c;
}
nav > ul > li:nth-child(9n + 8) li {
	background: #cac9f2;
}
nav > ul > li:nth-child(9n + 8) li a {
	border-color: #3330bf;
	color: #07071c;
}
nav > ul > li:nth-child(9n + 8) li.present {
	background: linear-gradient(to right, #7a78dd, #cac9f2);
}
ul > li.past {
	background-color: #7895dd;
}
nav > ul > li:nth-child(9n + 8) li.past {
	background: #7a78dd;
}
nav > ul > li:nth-child(9n + 8).present {
	background: linear-gradient(to top, #7a78dd, rgba(201,213,242,0), rgba(201,213,242,0)), linear-gradient(to right, #7895dd, #c9d5f2);
}
nav > ul > li:nth-child(9n + 9) > a {
	border-color: #bf5b30;
	color: #1c0d07;
}
nav > ul > li:nth-child(9n + 9) li {
	background: #f2d6c9;
}
nav > ul > li:nth-child(9n + 9) li a {
	border-color: #bf5b30;
	color: #1c0d07;
}
nav > ul > li:nth-child(9n + 9) li.present {
	background: linear-gradient(to right, #dd9678, #f2d6c9);
}
ul > li.past {
	background-color: #7895dd;
}
nav > ul > li:nth-child(9n + 9) li.past {
	background: #dd9678;
}
nav > ul > li:nth-child(9n + 9).present {
	background: linear-gradient(to top, #dd9678, rgba(201,213,242,0), rgba(201,213,242,0)), linear-gradient(to right, #7895dd, #c9d5f2);
}
body nav > ul > li {
	background-color: #c9d5f2;
}
.header {
	background: #333;
	color: #f60;
	widht: 100%;
	margin: auto;
	text-align: center;
}
.footer {
	background: #333;
	color: #fff;
	widht: 100%;
	margin: auto;
	text-align: center;
}
.reveal .slides {
	color: #000;
}
.reveal .slides img {
	border: none;
}
body .etape0sur1 {
	background: transparent !important;
}
.reveal section em {
	font-size: 14pt;
}
