// Customizable variables
$barHeight = 50px
$maxLevel = 4
$levelHeightRatio = 0.75
$maxEtapes = 100 //nombres max d'étapes prises en CSS pour ma progression dans une partie

// Calculated variables /!\ Do not touch except if you know what you do /!\
//initializing variable
$levelBarHeight = $barHeight
$previousBarHeight = 0
$totalMenuBarHeight = 0
$newRatio = 1
$selector = ""

for $i in (1...$maxLevel) {
	$k = 100 -(10 *$i)
	$color = hsl(218, 80%, $k)
	$totalMenuBarHeight = $totalMenuBarHeight + $levelBarHeight
	$newRatio = $newRatio*$levelHeightRatio
	nav > ul{$selector} {
		top $previousBarHeight
		> li {
			background $color
		}
		> li > a {
			line-height $levelBarHeight - 4
			height $levelBarHeight
		}
	}

	$selector = $selector + ">li>ul"
	$previousBarHeight = $levelBarHeight
	$levelBarHeight = $barHeight*$newRatio
}

*
	box-sizing border-box

html body {
	position: absolute;
	height: auto;
	top: $totalMenuBarHeight;
}

nav
	height $totalMenuBarHeight
	position fixed
	font-family "Lato", sans-serif
	text-align center
	font-size 15px
	top 0
	width 100%

	ul
		position: absolute;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;

	a
		display: block;
		color: #000;
		text-decoration: none;
		border-bottom solid #C95100 4px

	li
		flex-grow: 1;
		list-style-type: none;
		> ul
			display: none;

	li.present > ul
		display: flex;

	li.present > a
		font-weight: bold;
		border-bottom solid #c95100 4px


	ul{$selector}
		display: none !important;

/*Boucles pour avancement des dégradés.*/
for $nbEtapes in (1...$maxEtapes) {
	for $progress in (0...$nbEtapes+1) {
		pourcent = round(100 * ($progress) / $nbEtapes)
		compensation = 0.4 - pourcent * 0.2 / 100
		.etape{$progress}sur{$nbEtapes} {
			background: unquote('linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) '+pourcent+'%, rgba(255, 255, 255, '+compensation+') '+pourcent+'.01%, rgba(255, 255, 255, 0) 100%) !important')
			/*background white*/
		}
	}
}

nav a
	transition background 400ms ease
